@import "../../app.scss";
.parallax-items{
    position: relative;
    height: 100%;
    overflow: hidden;
    img{
        height: 200px;
        @include mobile{
            height: 100px;
        }
    }
    #section-divider{
        position: absolute;
        width: 100%;
    }
    #arrow1, #arrow2, #arrow3, #arrow4{
        position: absolute;
        left: 0;
        top: 20rem;
        z-index: -1;
        opacity: 0.8
    }
    @include mobile{
        #arrow1{
            left: -150px;
        }
        #arrow2{
            left: -300px;
        }
        #arrow3{
            left: -775px;
        }
        #arrow4{
            left: -890px;
        }
    }
    @include mini-desktop{
        #arrow1{
            left: -150px;
        }
        #arrow2{
            left: -100px;
        }
        #arrow3{
            left: -200px;
        }
        #arrow4{
            left: -100px;
        }
    }
    .wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text *{
            text-align: center;
            font-size: 100px;
            @include mini-desktop{
                font-size: 80px;
                @include mobile{
                    font-size: 40px;
                }
            }
        }
    }
}